body {
background-color:black;
    color:yellow;
   font-family: 'Bangers', cursive;
    font-family: 'Permanent Marker', cursive;
}

.images {
border: 10px solid white;
}
 


















/* Don't edit this*/
img{
    width: 150px; 
    display: block;
}